.contact_page {
  display: flex;
  height: 88vh;
  justify-content: center;
}
.contact__div-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact__div-container img {
  width: 12vh;
  height: 100%;
}

.contact__div-container a {
  font-weight: 800;
  font-size: 24px;
  line-height: 75px;
  letter-spacing: 0.04em;
  font-family: var(--font-family);

  margin-bottom: 1.5rem;
}
.contact__div-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
