.contact {
  display: flex;
  height: 88vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.contact__div-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70vw;
}

.contact-heading {
  width: 100%;
  text-align: center;
  margin-bottom: 5rem;
}
.contact-heading h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: 0.04em;
}

.contact__div-container img {
  width: 12vh;
  height: 100%;
}

.contact__div-container a {
  font-weight: 800;
  font-size: 24px;
  line-height: 75px;
  letter-spacing: 0.04em;
  font-family: var(--font-family);

  margin-bottom: 1.5rem;
}
.contact__div-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 2vh;
  margin-right: 2vh;
}
