* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
.gradient__bg {
  background: -moz-radial-gradient(
    circle at 10% 18%,
    rgba(26, 36, 97, 1) 0%,
    rgba(0, 2, 17, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 10% 18%,
    rgba(26, 36, 97, 1) 0%,
    rgba(0, 2, 17, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 10% 18%,
    rgba(26, 36, 97, 1) 0%,
    rgba(0, 2, 17, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 10% 18%,
    rgba(26, 36, 97, 1) 0%,
    rgba(0, 2, 17, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 10% 18%,
    rgba(26, 36, 97, 1) 0%,
    rgba(0, 2, 17, 1) 100%
  );
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;

  --gradient-text: radial-gradient(
    ellipse at 5% 48%,
    rgba(253, 207, 8, 255) 20%,
    rgb(255, 255, 255, 1) 100%
  );

  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-bg: #040c18;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #81afdd;
  --color-subtext: #ff8a71;
}
.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.section__padding {
  padding: 4rem;
}
.section__margin {
  margin: 4rem;
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }
  .section__margin {
    margin: 4rem;
  }
}
@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  .section__margin {
    margin: 4rem 2rem;
  }
}
