.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  border-bottom: 1px solid;
  position: sticky;
  top: 0;
  background-color: white;
  height: 5vh;
}

.header_logo {
  object-fit: contain;
  height: 5vh;
}
