.page_landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
  background-image: url("./6021411.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.page_landing p {
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}
